<div id="<%= dom_id atendimento %>">
  <p>
    <strong>Dentista:</strong>
    <%= atendimento.dentista_id %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= atendimento.paciente_id %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= atendimento.data_hora %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= atendimento.observacao %>
  </p>

</div>
