<%= form_with model: @atendimento do |form| %>
  <% if atendimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atendimento.errors.count, "erros") %> ocorreram:</h2>
      <ul>
        <% atendimento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :dentist_id %>
    <%= form.collection_select :dentist_id, Dentist.all, :id, :nome, prompt: "Selecione um Dentista"%>
  </div>
  <div>
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, Patient.all, :id, :name, prompt: "Selecione um Paciente"%>
  </div>
  <div>
    <%= form.label :data %>
    <%= form.date_field :data_hora %>
  </div>
  <div>
    <%= form.label :hora %>
    <%= form.time_field(:data_hora,
                        :min=>"06:00",
                        :max=>"19:00",
                        :step=>'60',
                        :required=>true,
                        :autocomplete=>'off',
                        :value=>'06:00') %>
  </div>
  <div>
    <%= form.label :observacao %>
    <%= form.text_field :observacao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
