<%= form_with model: @atendimento do |form| %>

  <% if @atendimento.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@atendimento.errors.count, "erros") %> ocorreram:</h3>
      <ul>
        <% @atendimento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :dentist_id %>
    <%= form.collection_select :dentist_id, Dentist.all, :id, :nome, prompt: "Selecione um Dentista"%>
  </div>
  <div>
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, Patient.all, :id, :name, prompt: "Selecione um Paciente"%>
  </div>
  <div>
    <%= form.label :data_hora, "Data e Hora:" %>
    <%= form.datetime_local_field :data_hora, value: @atendimento.data_hora&.strftime("%Y-%m-%dT%H:%M") %>
  </div>
  <div>
    <%= form.label :observacao %>
    <%= form.text_field :observacao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
