<!DOCTYPE html>
<html>
<head>
  <title>Buscar Atendimento</title>
</head>
<body>
<h1>Buscar Atendimento</h1>

<%= form_with model: @atendimento, url: search_atendimento_path, method: :get do |form| %>
  <div>
    <%= form.label :dentist_id, "Dentista:" %>
    <%= form.collection_select :dentist_id, Dentist.all, :id, :nome, prompt: "Selecione um Dentista" %>
  </div>

  <div>
    <%= form.label :patient_id, "Paciente:" %>
    <%= form.collection_select :patient_id, Patient.all, :id, :name, prompt: "Selecione um Paciente" %>
  </div>

  <div>
    <%= form.label :data_hora, "Data e Hora:" %>
    <%= form.datetime_local_field :data_hora %>
  </div>

  <div>
    <%= form.submit "Buscar" %>
  </div>
<% end %>

<% if @atendimentos.present? %>
  <h2>Resultados da busca:</h2>
  <ul>
    <% @atendimentos.each do |atendimento| %>
      <li>
        <p><strong>Dentista:</strong> <%= atendimento.dentist.nome %></p>
        <p><strong>Paciente:</strong> <%= atendimento.patient.name %></p>
        <p><strong>Data e Hora:</strong> <%= atendimento.data_hora %></p>
        <p><strong>Observação:</strong> <%= atendimento.observacao %></p>
        <hr>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum atendimento encontrado.</p>
<% end %>

<div class="text-center">
  <%= link_to "<button>Back to atendimentos</button>".html_safe, atendimentos_path, class: "btn btn-primary" %>
  <%= link_to "<button>New atendimentos</button>".html_safe, new_atendimento_path, class: "btn btn-secondary" %>
  <%= link_to "<button>Home page</button>".html_safe, root_path, class: "btn btn-secondary" %>
</div>

</body>
</html>
