<p style="color: green"><%= notice %></p>

<h1>Detalhes do Atendimento</h1>
<p><strong>Dentista:</strong> <%= @atendimento.dentist.nome %></p>
<p><strong>Paciente:</strong> <%= @atendimento.patient.name %></p>
<p><strong>Data e Hora:</strong> <%= @atendimento.data_hora %></p>
<p><strong>Descrição:</strong> <%= @atendimento.observacao %></p>

<%= link_to 'Editar', edit_atendimento_path(@atendimento) %> |
<%= link_to 'Voltar', atendimentos_path %> |
<%= link_to "Desmarcar", atendimento_path(@atendimento), data: {
  turbo_method: :delete
} %>