<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<% if admin_signed_in? %>
  <%= link_to "Cadastrar paciente", new_patient_path %>
  <br>
  <%= link_to "Cadastrar dentista", new_dentist_path %>
  <br>
  <%= link_to "Listar todos pacientes", patients_url %>
  <br>
  <%= link_to "Listar todos dentistas", dentists_url %>
  <br>
  <%= link_to "Buscar paciente", search_paciente_path %>
  <br>
  <%= link_to "Buscar dentista", search_dentist_path %>
  <br>
  <%= link_to "Atendimentos", atendimentos_url %>
  <br>
  <%= link_to "Buscar Atendimento", search_atendimento_path %>
  <br>
  <br>
  <%= button_to "Deslogar", destroy_admin_session_path, method: :delete %>
  <br>
  <%= link_to "Editar conta", edit_admin_registration_path %>
<% else %>
  <%= link_to "Criar conta", new_admin_registration_path %>
  <br>
  <%= link_to "Login", new_admin_session_path %>
<% end %>