<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to "Cadastrar paciente", new_patient_path %>
<br>
<%= link_to "Listar todos pacientes", patients_url %>
<br>
<%= link_to "Cadastrar dentista", new_dentist_path %>
<br>
<%= link_to "Listar todos dentistas", dentists_url %>
<br>
<%= link_to "Buscar paciente", search_paciente_path %>
<br>
<%= link_to "Atendimentos", atendimentos_url %>
