<%= form_with model: patient do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> ocorreram durante o cadastro:</h2>
      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table border="1" align="center" bgcolor="#6495ed">
    <tr>
      <td>
        <table border="2" align="center" bgcolor="#6495ed">
          <tr>
            <td>
              <%= form.label :nome %>
            </td>
            <td>
              <%= form.text_field :name %>
            </td>
          </tr>

          <tr>
            <td>
              <%= form.label :email %>
            </td>
            <td>
              <%= form.email_field :email %>
            </td>
          </tr>

          <tr>
            <td>
              <%= form.label "CPF (apenas números)" %>
            </td>
            <td>
              <%= form.text_field :cpf %>
            </td>
          </tr>

          <!-- Novos campos -->
          <tr>
            <td>
              <%= form.label "Contato" %>
            </td>
            <td>
              <%= form.text_field :contato %>
            </td>
          </tr>

          <tr>
            <td>
              <%= form.label "Data de Nascimento" %>
            </td>
            <td>
              <%= form.date_field :data_nascimento %>
            </td>
          </tr>

          <tr>
            <td>
              <%= form.label :genero %>
            </td>
            <td>
              <%= form.select :genero, Patient::GENDER_OPTIONS %>
            </td>
          </tr>

          <tr>
            <td>
              <%= form.label :endereco %>
            </td>
            <td>
              <%= form.text_area :endereco %>
            </td>
          </tr>
          <!-- Fim dos novos campos -->
        </table>
      </td>
    <tr>
      <td colspan="2">
        <div align="center">
          <%= form.submit %>
          <p>
            <%= link_to("<button>Patient list</button>".html_safe, patients_path, class: "btn btn-primary") %>
            <%= link_to("<button>Home Page</button>".html_safe, root_path, class: "btn btn-secondary") %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
