<nav class="flex justify-between p-4">
  <%= link_to "Home Dashboard", root_path, class: "text-blue-900 hover:text-blue-700 mx-2" %>
  <%= link_to 'Voltar', patients_path, class: "text-blue-900 hover:text-blue-700 mx-2" %>
</nav>

<div class="bg-blue-400 p-4 rounded-lg mb-4 flex flex-col inline-grid">
  <div class="text-white text-lg font-semibold mb-2 text-center">
    <h1>Detalhes do Paciente</h1>
  </div>

  <div class="text-white font-semibold">
    <p><strong>Nome:</strong> <%=@patient.name %></p>
    <p><strong>Email:</strong> <%= @patient.email %></p>
    <p><strong>CPF:</strong> <%= @patient.cpf %></p>
    <p><strong>Contato:</strong> <%= @patient.contato %></p>
    <p><strong>Data de Nascimento:</strong> <%= @patient.data_nascimento %></p>
    <p><strong>Gênero:</strong> <%= @patient.genero %></p>
    <p><strong>Endereco:</strong> <%= @patient.endereco %></p>
  </div>

  <div class="mt-4 text-center">
    <%= link_to "Editar",
                edit_patient_path(@patient),
                class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
    %>
    <%= link_to "Deletar",
                patient_path(@patient),
                data: {
                  turbo_method: :delete,
                  turbo_confirm: "Tem certeza?"
                },
                class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
    %>
  </div>
</div>

