<!DOCTYPE html>
<html>
  <head>
    <title>UltraMasterDentes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <style>
        body{
            text-align: center;
        }
        div{
            display: inline-block;
        }
        .inline-grid{
            display: inline-grid;
        }
    </style>
  </head>

  <body class="bg-gray-200">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
